In [4]:
import pandas as pd

In [33]:
data = pd.read_csv("nnfromali+(8) (1).csv").sort_values("id").reset_index().drop(columns = "index")

In [34]:
_data = pd.read_csv("nnfromali+(9) (2).csv").sort_values("id").reset_index().drop(columns = "index")

In [35]:
_data_ = pd.read_csv("nnfromali+(11).csv").sort_values("id").reset_index().drop(columns = "index")

In [36]:
_data_2 = pd.read_csv("nnfromali+(4).csv").sort_values("id").reset_index().drop(columns = "index")

In [37]:
(0.398518 + 0.408111)/2

0.4033145

In [38]:
data

                            id  predictions
0     6141cf0efbfd4bd9ab2c2f7e     1.146198
1     6141cf0fe689ecc4c43cdd4b     1.826040
2     6141cf10b842c2e72e2f2d44     1.825198
3     6141cf10b842c2e72e2f2d46     1.825450
4     6141cf1302d926221cabc549     0.356318
...                        ...          ...
2962  6148f3f63ac25c70a5c6cdff     0.359677
2963  6149087231cf3ef3d4a9f848     0.279146
2964  6149c48031cf3ef3d4a9f84a     0.353801
2965  6149f3853ac25c70a5c6ce01     0.424858
2966  615083823ac25c70a5c6ce03     0.344134

[2967 rows x 2 columns]

In [39]:
_data

                            id  predictions
0     6141cf0efbfd4bd9ab2c2f7e     1.146897
1     6141cf0fe689ecc4c43cdd4b     1.807666
2     6141cf10b842c2e72e2f2d44     1.810755
3     6141cf10b842c2e72e2f2d46     1.811225
4     6141cf1302d926221cabc549     0.359659
...                        ...          ...
2962  6148f3f63ac25c70a5c6cdff     0.359566
2963  6149087231cf3ef3d4a9f848     0.281492
2964  6149c48031cf3ef3d4a9f84a     0.367058
2965  6149f3853ac25c70a5c6ce01     0.434328
2966  615083823ac25c70a5c6ce03     0.353944

[2967 rows x 2 columns]

In [40]:
_data_

                            id  predictions
0     6141cf0efbfd4bd9ab2c2f7e     1.136821
1     6141cf0fe689ecc4c43cdd4b     1.805812
2     6141cf10b842c2e72e2f2d44     1.809363
3     6141cf10b842c2e72e2f2d46     1.809017
4     6141cf1302d926221cabc549     0.352025
...                        ...          ...
2962  6148f3f63ac25c70a5c6cdff     0.367617
2963  6149087231cf3ef3d4a9f848     0.283713
2964  6149c48031cf3ef3d4a9f84a     0.354819
2965  6149f3853ac25c70a5c6ce01     0.463656
2966  615083823ac25c70a5c6ce03     0.355046

[2967 rows x 2 columns]

In [41]:
_data_2

                            id  predictions
0     6141cf0efbfd4bd9ab2c2f7e     1.144271
1     6141cf0fe689ecc4c43cdd4b     1.819458
2     6141cf10b842c2e72e2f2d44     1.823295
3     6141cf10b842c2e72e2f2d46     1.822934
4     6141cf1302d926221cabc549     0.356439
...                        ...          ...
2962  6148f3f63ac25c70a5c6cdff     0.362888
2963  6149087231cf3ef3d4a9f848     0.291186
2964  6149c48031cf3ef3d4a9f84a     0.365065
2965  6149f3853ac25c70a5c6ce01     0.429964
2966  615083823ac25c70a5c6ce03     0.353990

[2967 rows x 2 columns]

In [23]:
import numpy as np
np.array(_data_2["predictions"])

array([1.14427066, 1.81945825, 1.82329547, ..., 0.3650654 , 0.42996362,
       0.35399038])

In [61]:
res = data.copy()
res["predictions"] = (0.66*_data["predictions"] + 0.66*_data_["predictions"] + 0.66*data["predictions"] + 2*_data_2["predictions"])/4

In [62]:
res = res.reset_index().drop(columns="index")

In [63]:
res

                            id  predictions
0     6141cf0efbfd4bd9ab2c2f7e     1.138072
1     6141cf0fe689ecc4c43cdd4b     1.807250
2     6141cf10b842c2e72e2f2d44     1.810125
3     6141cf10b842c2e72e2f2d46     1.810006
4     6141cf1302d926221cabc549     0.354440
...                        ...          ...
2962  6148f3f63ac25c70a5c6cdff     0.360776
2963  6149087231cf3ef3d4a9f848     0.284911
2964  6149c48031cf3ef3d4a9f84a     0.360020
2965  6149f3853ac25c70a5c6ce01     0.433251
2966  615083823ac25c70a5c6ce03     0.350761

[2967 rows x 2 columns]

In [64]:
res.to_csv("meaned_8.csv")